<%= link_to '<Back', collection_path(@collection_item.collection) %>
<p class='text-center'>
  <strong><%= @collection_item.collection.title %></strong>

</p>

<%= image_tag @collection_item.file, class: "img-responsive" %>



