<div class='row'>
  <div class='col-md-2'>
    <%= message.user.email %>
  </div>
  <div class='col-md-10'>
    <%= message.content %>
    <br>
    <% unless message.file.nil? %>
      <%= image_tag message.file, class: 'img-responsive'%>
    <%end %>
  </div>
</div>
