<% @notifications = Notification.where(user: current_user).where(read:false) %>
<li class="dropdown notifications-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning"><%= @notifications.count %></span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have <%= @notifications.count %> notifications</li>
    <li>
      <!-- inner menu: contains the actual data -->
      <ul class="menu">
        <% @notifications.each do |notification| %>
        <li>
          <% if notification.notification_type == "New Message" %>
            <% @chatroom = Chatroom.find(notification.notification_obeject_id)%>
            <%= link_to "New Message in #{@chatroom.topic}", chatroom_path(@chatroom) %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </li>
    <li class="footer"><a href="#">View all</a></li>
  </ul>
</li>
