<section class="content">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <%= render 'proposals/partials/proposal_info_top' %>
      <!-- /.box -->

      <!-- About Me Box -->
      <%= render 'proposals/partials/proposal_info_bottom' %>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#basic_info" data-toggle="tab">Basic Info</a></li>
          <li><a href="#add_ons" data-toggle="tab">Add Ons</a></li>
          <li><a href="#tasks" data-toggle="tab">Tasks</a></li>
          <li><a href="#payment" data-toggle="tab">Payment</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="basic_info">
            Basic Info Goes Here
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="add_ons">
            Add Ons Go here
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="tasks">
            Tasks Go Here
          </div>
          <div class="tab-pane" id="payment">
            Payment Goes Here
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
