<div class="box box-solid">
<!-- /.box-header -->
<div class="box-body">
  <div class='row'>
      <strong>Production Type </strong>
      <%= @proposal.proposal_type%>
  </div>
  <hr/>
  <dl>
    <dt>Creative Brief</dt>
    <dd><%= @proposal.content%></dd>
  </dl>
</div>
<!-- /.box-body -->
<div class="pull-right">
  <%= link_to "Edit", edit_proposal_path(@proposal) %>
</div>
</div>
