<div class="box box-solid">
<!-- /.box-header -->
<div class="box-body">
  <div class='row'>
    <dl style="padding:12px">
      <dt>
        Production Type
      </dt>
      <dd>
        <%= @proposal.proposal_type%>
      </dd>
    </dl>
  </div>
  <hr/>
  <dl>
    <dt>Creative Brief</dt>
    <dd><%= @proposal.content%></dd>
  </dl>
</div>
<!-- /.box-body -->
<div class="pull-right">
  <%= link_to "Edit", edit_proposal_path(@proposal) unless  @proposal.company.users.include?(current_user) == false %>
</div>
</div>
